body {
  font-family: 'Poppins';
}

.full-width {
  margin: 0 auto;
  width: 1200px;
  overflow: auto;
}

.half-width {
  float: left;
  overflow: auto;
  width: 600px;
}

.third-width {
  float: left;
  overflow: auto;
  width: 400px;
}
header {
  background: url('../img/hero-image.png');
  background-size: cover;
  background-position: center;
  height: 500px;
}

header h1 {
  color: #241D58;
  text-align: center;
  font-size: 30px;
  padding-top: 200px;
  font-weight: bolder;
}

header h2 {
  text-align: center;
  font-size: 25px;
}

#portfolio-section .full-width {
  padding: 20px 0;
  color: #000000;
}

#portfolio-section .half-width {
  float: left;
}

#portfolio-section h2 {
  color: #000000;
  padding-bottom: 20px;
  text-align: center;
}
#portfolio-section h3 {
  color: #000000;

}
#portfolio-section p {
  color: #000000;
}
#about {
  background: #087e8b;
  padding-top: 30px;
  padding-bottom: 30px;
}

#about h2, h3, p {
  color: #ffffff;
}

#about h2 {
  text-align: center;
}

#about .full-width {
  padding: 30px 0; /**20 top and bottom, 0 either side **/
}

#about .half-width p {
  font-size: 18px;
}
footer {
  background: #095156;
  margin: 0 auto;
  clear: both;
  text-align: center;
  padding-top: 20px;
  color: #ffffff;
}
footer .full-width {
  background: #095156;
}
footer .third-width {
  overflow: auto;
  padding-bottom: 20px;
}
footer h2{
  color: #ffffff;
}

footer ul {
  list-style: none; /*** gets RID OF bullet points ***/
}

footer ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
